/* mobiele apparaten en overall */
.small-container {
    margin: 15% auto 30%;
    display: flex;
    flex-direction: column;
    border: black solid 4px;
    padding: 24px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-top: 18px;
    padding: 8px;
}

button {
    margin-top: 18px;
    margin-bottom: 62px;
    padding: 8px;
    font-size: 24px;
    text-transform: uppercase;
}

.login-button {
    background-color: #5893F2;
    border-radius: 8px;
}

.small-title {
    font-size: 24px;
    margin-bottom: 18px;
}

/* Minimaal 768px */
@media screen and (min-width: 768px) {
    .small-container {
        width: 30%;
    }
}

/* Minimaal 992px */
@media screen and (min-width: 992px) {

}