header {
    background-color: black;
    height: 64px;
    display: flex;
    justify-content: space-around;
    padding-left: 64px;
    padding-right: 64px;
    margin-bottom: 64px;
}

ul {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.link {
    color: white;
    text-decoration: none;
    align-items: center;
    margin: 18px;
    text-transform: uppercase;
}

.logo {
    display: inline;
    width: 128px;
}

a:hover {
    background-color: #A00;
}