.videos {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: flex-start;
    margin-right: 12px;
    margin-bottom: 12px;
}

.header-recently-played, .header-currently-playing {
    padding-top: 24px;
    margin-bottom: 24px;
}

.videos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .videos-container, .currently-playing-container {
        margin: 64px;
    }

    .header-currently-playing {
        text-align: left;
    }

    .header-recently-played {
        align-self: flex-start;
    }

}