.videos {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: flex-start;
    margin-right: 12px;
    margin-bottom: 12px;
}

.recently-played {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
    margin-bottom: 18px;
    margin-right: 18px;
    align-content: center;
    max-width: 300px;
}

.header-recently-played, .header-currently-playing {
    padding-top: 24px;
    margin-bottom: 24px;
}

.videos-container {
    display: flex;
    flex-direction: column;
}

.artist-name {
    margin-top: 18px;
    word-wrap: break-word;
}

.track-name {
    margin-top: 18px;
    word-wrap: break-word;
}

@media screen and (min-width: 768px) {
    .videos-container, .currently-playing-container {
        margin: 64px 64px 24px 64px;
    }

    .header-currently-playing {
        text-align: left;
    }

    .header-recently-played {
        align-self: flex-start;
    }

}